<!DOCTYPE html>
    <html>
        <head>
        <title>https://paymenttrack.co.za/contact.php</title> 
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">--> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <meta name="format-detection" content="telephone=no">
             
        </head>
    
    <body>
    <div class="mx-auto">
        <div class="row">
    
            
        </div>
    <!--Hero Section -->
        <div class="row">
        
             
        <div class="col">
        <div class="container">
          
          <div class="row">
              
    

    
    
              
           <div class="col-xs-12 col-md-6>
              <div class="container">
               
        <h1 class="display-3 text-white py-0">
            <span class="hero-heading;" style="Background-color:#17A2B8;"  >
            The Plumbing Guys
            </span>
            </h1>    
        
               
        <p class="text-white"></p>    
        
              
            <a class="btn btn-primary btn-lg" href="https://google.co.za" role="button">Get the Personal Touch</a>
            
              </div>
            </div> 
            </div>
          </div>
          </div>
        </div>
                 
        </div>
        <div class="row">
    
    
        <div class="col">
        <nav class="navbar navbar-light navbar-expand-lg bg-info">
          <a class="navbar-brand align-middle" href="/">
              
            
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="border-color: rgb(255,102,203);padding: 28px !important;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-top: 5px;">
              
    
            <div class="nav">
                  <a class="nav-link text-light" href="/">Home</a><a class="nav-link text-light" href="products.php">Products</a><a class="nav-link text-light" href="articles.php">Articles</a><a class="nav-link text-light" href="about.php">About</a>
            </div>
    
    
             
            </div>
          </nav>
        </div>
      
    </div><div class="mx-auto px-5">
    
     
    
            <div class="row">
                  
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-4 py-lg-4">
                  
    <img src="https://bdmdatafeeds.com/images/plumber.jpg" class="img-fluid mx-auto featurette-image"Style="max-height=100%;"focusable="false" role="img" aria-label="image" alt="plumbing, plumbers, find a plumber">
            </div>
    
    
            
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-8 py-lg-4">
                  
        <h2 class="featurette-heading">Best Team Available</h2>    
         
        <p class="lead">We know how important the personal touch is to you and your business. For this reason we have a well trained team</p>    
        
            </div>
    
    
            
            </div>
    
    
             
    
            <div class="row">
                  
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-4 py-lg-4">
                  
    <img src="https://bdmdatafeeds.com/images/plumber-2.jpg" class="img-fluid mx-auto featurette-image"Style="max-height=100%;"focusable="false" role="img" aria-label="image" alt="Plumbing Services">
            </div>
    
    
            
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-8 py-lg-4">
                  
        <h2 class="featurette-heading">Plumbing Services</h2>    
         
        <p class="lead"><p>The Plumbing Guys has been servicing the Johannesburg Community since 1971. With the expansion of our new factory and service teams we are now also servicing the Pretoria areas.Â We have lots of experience in our Service Team to fix any plumbing problem, no matter how big or small. We specialize in Industrial applications but also cater for the Commercial and Residential Markets.</p>
    <p>Wheter you have a broken pipe at home or you want to install a new solar system for your factory, we have you back. <strong>Call the Plumbing Guys on 012 345 6789</strong></p></p>    
        
            </div>
    
    
            
            </div>
    
    
             
    
            <div class="row">
                  
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-8 py-lg-4">
                  
        <h2 class="featurette-heading">Industrial Plumbing Solutions</h2>    
         
        <p class="lead"><p>Industrial Plumbing Solutions for your site is at the forefront of our thinking. With more than 10 experienced Industrial plumbers on our team, we can react to your needs and emergencies at any moment. Our Emergency reaction team is always available.</p>
    <p>If you are thinking about expanding your operations, then let us help you with your plumbing planning. Our development team has special expertise in the development of Industrial plumbing systems.</p>
    <p>We also specialize in energy and water saving systems that can save you thousands of rands per month.</p></p>    
        
            </div>
    
    
            
    
            <div class="col-xs-12 py-xs-2 col-md-6 py-md-3 col-lg-4 py-lg-4">
                  
    <img src="https://bdmdatafeeds.com/images/plumber-3.jpg" class="img-fluid mx-auto featurette-image"Style="max-height=100%;"focusable="false" role="img" aria-label="image" alt="Industrial Plumbing Solutions">
            </div>
    
    
            
            </div>
    
    
            
    <div id="row3" class="row py-3">
    
     
            <div class="col-sm-6">
                <h2><strong>What our Customers Say</strong></h2>
                <div class="seprator" style="border-bottom: solid #0aaa7a 3px;width: 112px;margin: 7px 0 10px 0"></div>
                <div id="testimonial" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                     
                <div class="carousel-item " data-interval="2000">
                <div class="row" style="padding: 20px">
                <div style=""><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></div>
                <p class="testimonial_quote" style="margin: 15px;">Thank you Guys. Your service was fast, efficient and affordable. I will use you again in the future.</p><br>
                
                    
                    <div class="col-sm-10 pull-right">
                            <h4 class="testimonial_name text-right" style="color: #0aaa7a;font-size:12;"><strong>Sarah Jones</strong></h4>
                            <p class="testimonial_area text-right" style="color: #0aaa7a;font-size:12;"><span>Cape Town</span><br>
                            </p>
                        </div>
                    </div>
                
                
            </div>
            </div>
            
                </div>
                </div>
            <!-- <div class="controls testimonial_control pull-right">
                    <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#testimonial"
                    data-slide="prev"></a>
    
                    <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#testimonial"
                    data-slide="next"></a>
                </div>-->
            </div>
            </div>
    </div>
    
    
    </div>
    
    
    <footer class="footer py-3 bg-info"> 
        <div class="container text-center">
            &copy  Business Direct Media 2020
        </div>
    
    </footer>
    </div> <!-- container -->
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </html>
    
    